@model QLBVot.Models.Vot

@{
    ViewBag.Title = "Xác nhận xóa";
}

<h2>Xác nhận xóa sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa sản phẩm @Model.TenVot?</h3>

@using (Html.BeginForm("Delete", "Vots", new { id = Model.MaVot }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a href="@Url.Action("Index", "Vots")" class="btn btn-secondary">Hủy bỏ</a>
}
